pipeline/pl_project1_master.json
{
	"name": "pl_project1_master",
	"properties": {
		"activities": [
			{
				"name": "Bronze Layer",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pl_project1_bronze_layer",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "SetAllName",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Bronze Layer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ReturnAllFileName",
					"value": {
						"value": "@activity('Bronze Layer').output.pipelineReturnValue.ReturnFileNameValues",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Accounts File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetAllName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ReturnAllFileName'), 'accounts.csv')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Accounts Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_accounts_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Transactions File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetAllName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ReturnAllFileName'), 'transactions.csv')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Transactions Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_transactions_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Loans File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetAllName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ReturnAllFileName'), 'loans.csv')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Loans Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_loans_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Customers File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetAllName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ReturnAllFileName'), 'customers.csv')",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Customers Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_customers_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			},
			{
				"name": "Loan Payments File",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "SetAllName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@contains(variables('ReturnAllFileName'), 'loan_payments.csv')\n",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Loan_Payments Pipeline",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_loans_payments_file",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"ReturnAllFileName": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "DE_Project_1/MainPipelines"
		},
		"annotations": [],
		"lastPublishTime": "2025-04-21T00:22:10Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}